<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-user-profile.css">
    <title>Add Condition</title>
</head>
<body>

<main>
    <nav>
        <th:block th:insert="~{fragments/navigation-bar :: nav_bar}"></th:block>
    </nav>

    <div class="home-section">
        <div class="single-section-box profile-menu">

            <form class="form" th:action="@{/conditions/add-condition}" th:method="PUT" th:object="${conditionAddRequest}">

                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name" th:field="*{name}">
                <p class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Text Here</p>

                <label for="departament" class="h3 mb-2">Department</label>
                <select id="departament" name="departament" th:field="*{departament}">
                    <option th:each="departament : ${T(com.example.spring_final_project.Doctor.model.Departament).values()}" th:value="${departament}" th:text="${#strings.capitalize(#strings.toLowerCase(departament))}"></option>
                </select>
                <p class="text-warning" th:if="${#fields.hasErrors('departament')}" th:errors="*{departament}">Error Text Here</p>


                <button class="profile-actions-button">
                    <p>Save</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</main>

<footer>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
</footer>

</body>
</html>