<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
  <link rel="stylesheet" type="text/css" href="/css/departments.css">
    <title>Choose Department</title>
</head>
<body>

<!--<nav>-->
<!--  <th:block th:insert="~{fragments/navigation-bar :: nav_bar}"></th:block>-->
<!--</nav>-->

<div class="home-section">
  <div class="single-section-box home-profile-information">
  <button th:href="@{'/doctors/ORTHOPEDY'}" class="profile-actions-button">Orthopedy</button>
<!--    <p>Orthopedy</p>-->
<!--    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">-->
<!--      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>-->
<!--    </svg>-->

  </div>
</div>

<footer>
  <th:block th:insert="~{fragments/footer :: footer}"></th:block>
</footer>

</body>
</html>