
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home</title>
</head>
<body>
<nav>

</nav>
<main>

    <nav>
        <th:block th:insert="~{fragments/navigation-bar :: nav_bar}"></th:block>
    </nav>

    <div class="home-section">
        <div class="single-section-box home-profile-information">
            <div class="profile-header">
                <img th:src="${#strings.isEmpty(user.profilePicture) ? 'https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-male-5.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar">
                <h2 class="profile-name" th:text="${user.username}"></h2>
                <div class="profile-status-role-container">
                    <p th:if="${user.isActive()}" class="active-profile">ACTIVE</p>
                    <p th:if="${!user.isActive()}" class="inactive-profile">INACTIVE</p>
                </div>
                <div class="details-section">
                    <div class="details-section-container">
                        <strong>User id: </strong>
                        <p th:text="${user.id}"></p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="details-section-container">
                    <strong>Email: </strong>
                    <p th:text="${#strings.isEmpty(user.email) ? 'Edit your profile and add email' : user.email}"> </p>
                </div>
                <div class="details-section-container">
                    <strong>Joined: </strong>
                    <p th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></p>
                </div>
            </div>
            <!--      /users/{id}/profile-->
            <a th:href="@{'/users/' + ${user.id} + '/edit-profile'}" class="profile-actions-button">
                <p>Edit Profile</p>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>
                </svg>
            </a>
        </div>


        <div class="single-section-box home-profile-information" th:if="${user.role.name() == 'USER'}">
            <div class="profile-header">
                <img th:src="${#strings.isEmpty(patientCard.profilePicture) ? 'https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-male-5.png' : user.profilePicture}" alt="Profile Picture" class="profile-avatar">
                <div class="details-section">
                    <div class="details-section-container">
                        <strong>Patient Card id: </strong>
                        <p th:text="${patientCard.id}"></p>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="details-section-container">
                    <strong>First Name: </strong>
                    <p th:text="${#strings.isEmpty(patientCard.firstName) ? 'Edit your profile and add first name!' : patientCard.firstName}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Last Name: </strong>
                    <p th:text="${#strings.isEmpty(patientCard.lastName) ? 'Edit your profile and add last name!' : patientCard.lastName}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Date Of Birth: </strong>
                    <p th:text="${#strings.isEmpty(patientCard.dateOfBirth) ? 'Edit your profile and add age of birth!' : #temporals.format(patientCard.dateOfBirth, 'dd MMM YYYY')}"> </p>
                </div>
                <div class="details-section-container">
                    <strong>Gender: </strong>
                    <p th:if="${patientCard.gender.name() == 'NOT_SET'}">Edit your profile and select gender!</p>
                    <p th:if="${patientCard.gender.name() != 'NOT_SET'}" th:text="${patientCard.gender}"></p>
                </div>
            </div>
            <a th:href="@{'/patientCards/' + ${patientCard.id} }" class="profile-actions-button">
                <p>See Full Info</p>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>
                </svg>
            </a>
            <a th:href="@{'/patientCards/' + ${patientCard.id} + '/edit-card'}" class="profile-actions-button">
                <p>Edit Profile</p>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>
                </svg>
            </a>
        </div><br>


        <div class="single-section-box home-profile-information" th:if="${user.role.name() == 'USER' && numberOfAppointments > 0}">
            <div class="profile-header">
                <div class="details-section">
                    <div class="details-section-container">
                        <strong>Next Appointment: </strong>
                    </div>
                </div>
            </div>
            <div class="profile-info">
                <div class="details-section-container">
                    <strong>Doctor: </strong>
                    <p th:text="${appointment.doctor.firstName + ' ' + appointment.doctor.lastName}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Date: </strong>
                    <p th:text="${#temporals.format(appointment.time, 'dd MMM YYYY')}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Status: </strong>
                    <p th:text="${appointment.status}"> </p>
                </div>
            </div>
        </div>
<!--        <div class="single-section-box home-subscription">-->
<!--            <div class="default-label-box">-->
<!--                <p th:text="${user.subscriptions[0].type + ' SUBSCRIPTION'}"></p>-->
<!--            </div>-->
<!--            <table class="styled-table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Status</th>-->
<!--                    <th>Period</th>-->
<!--                    <th>Price</th>-->
<!--                    <th>Renewal</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td th:if="${user.subscriptions[0].status.name() == 'ACTIVE'}"><span class="status active">ACTIVE</span></td>-->
<!--                    <td th:if="${user.subscriptions[0].status.name() == 'COMPLETED'}"><span class="status completed">COMPLETED</span></td>-->
<!--                    <td th:if="${user.subscriptions[0].status.name() == 'TERMINATED'}"><span class="status terminated">TERMINATED</span></td>-->
<!--                    <td th:text="${#strings.capitalize(#strings.toLowerCase(user.subscriptions[0].period.name()))}"></td>-->
<!--                    <td th:text="${user.subscriptions[0].price + ' EUR'}"></td>-->
<!--                    <td th:text="${user.subscriptions[0].renewalAllowed == true ? 'Automatic' : 'No'}"></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <a class="profile-actions-button" th:href="@{/subscriptions}">-->
<!--                <p>Change</p>-->
<!--                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">-->
<!--                    <path fill-rule="evenodd" d="M20.337 3.664c.213.212.354.486.404.782.294 1.711.657 5.195-.906 6.76-1.77 1.768-8.485 5.517-10.611 6.683a.987.987 0 0 1-1.176-.173l-.882-.88-.877-.884a.988.988 0 0 1-.173-1.177c1.165-2.126 4.913-8.841 6.682-10.611 1.562-1.563 5.046-1.198 6.757-.904.296.05.57.191.782.404ZM5.407 7.576l4-.341-2.69 4.48-2.857-.334a.996.996 0 0 1-.565-1.694l2.112-2.111Zm11.357 7.02-.34 4-2.111 2.113a.996.996 0 0 1-1.69-.565l-.422-2.807 4.563-2.74Zm.84-6.21a1.99 1.99 0 1 1-3.98 0 1.99 1.99 0 0 1 3.98 0Z" clip-rule="evenodd"></path>-->
<!--                </svg>-->
<!--            </a>-->
<!--            <div class="details-section">-->
<!--                <div class="details-section-container">-->
<!--                    <strong>Subscription id: </strong>-->
<!--                    <p th:text="${user.subscriptions[0].id}"></p>-->
<!--                </div>-->
<!--                <div class="details-section-container">-->
<!--                    <strong>Subscribe until: </strong>-->
<!--                    <p th:text="${#temporals.format(user.subscriptions[0].completedOn, 'dd MMM YYYY HH:mm')}"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</main>
<footer>
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
</footer>
</body>
</html>
